*, *::before, *::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.7rem;
  color: #000;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-weight: 600;
}

button {
  border: none;
  background-color: transparent;
}

a, button {
  cursor: pointer;
  outline: none;
}

a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
  font-size: 2rem;
}

ul {
  list-style: none;
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

body {
  background-image: url(./Waimakariri.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  background-color: #fff;
  color: #6759ae;
}

.form {
  margin-top: 30px;
  height: 200px;
  width: 200px;
  background-color: #5e0fd1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
}

button {
  height: 50px;
  width: 150px;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  background-color: #0f1bd1;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}