*, *::before, *::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.7rem;
  color: #000;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  font-weight: 600;
}

button {
  border: none;
  background-color: transparent;
}

a, button {
  cursor: pointer;
  outline: none;
}

a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
  font-size: 2rem;
}

ul {
  list-style: none;
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

canvas {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}